@import "../css/bespoke-serif.css";
@import "../css/dancing-script.css";


#heroPage--right {
    background-image: url('../images/homepagePhoto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#menuIcon {
    display: none;
    cursor: pointer;
}

#appsection--spareimage1 {
    background: url("../images/suitLemon.png");
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 200px;
}

#appsection--spareimage2 {
    background: url("../images/olderwomanLemon.png");
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: -100px;
    top: -50px;
}


// .containerFooter{
 
//     ul{
//         list-style-type: none;
//     }

//     .firstListF{
//         li:first-child{
//             font-weight: bold;
//             padding-bottom: 10px;
//         }

//         li{
//             margin-bottom: 4px;
//         }
//     }
//     .finalfooterList{
//         display: block;
//     }

//     .secondListF{
//         display: flex;
//         margin-top: -40px;
//         position: relative;

//         li{
//             margin-right: 10px;
//             margin-bottom: 16px;
//             border: solid 1px black;
//             border-radius: 50%;
//             display: flex;
//             width: 40px;
//             height: 40px;
//             background: linear-gradient(to left, #FBCA3F 50%, rgb(255, 255, 255) 50%);
//             background-size: 200% 100%; 
//             transition: background-position 0.3s ease;
//             cursor: pointer;
           

//             img{
//                 width: 15px;
//                 height: 15px;
//                 display: flex;
//                 align-self: center;
//                 margin: 20px;
//             }
//         }

//         li:hover {
//             background-position: -100% 0;
//           }

//         li:last-child{
//             margin-right: 0;
//         }
//     }

   

//     .thirdListF{
//         display: flex;
//         justify-content: space-between;

//         p:last-child{
//             background: #FBCA3F;
//             display: flex;
//             place-self: center;
//             padding: 5px;
//             border-radius: 50%;
//             margin-top: -5px;
//         }
//     }

// }

// .logo{
    
//     display: flex;
//     align-self: flex-start;

//     img{
//         rotate: -45deg;
//     }
// }

// .footerfinal{
//     margin: 64px 32px 0 40px;
//     font-family: ClashDisplay-Variable;
//     font-weight: 500;
// }










/*********************************MEDIA QUERIES********************************/

@media (max-width: 770px){
    // .containerFooter{
    //     display: block;
    //     // margin: 64px 16px 0 27px;
    //     // padding: 30px;

    //     .secondListF{
    //         margin-top: 32px;
    //         margin-left: 40px;
    //     }

    //     .thirdListF{
    //         // width: 46%;

    //         p:last-child{
    //             padding: 2px;
    //         }
    //     }
        
    // }

    // .footerfinal{
    //     margin: 64px 16px 0px 27px;
    // }
}



@media (max-width: 850px) {
    #menuIcon {
        display: block;
    }
}

@media (max-width: 560px) {
    #teamLemon {
        height: 150px;
    }
}